$color-principal: #ECEEF3;
$color-secundario: #1C140D;
$color-terciario: #FA6900;
$color-shadow: rgba(0,0,0,0.15);
$color-backgroundprod: white;
$color-box-shadow: rgba(0,0,0,0.05);
$color-box-shadow-dislogo: rgba(0,0,0,0.15);
$color-text-shadow: rgba(0,0,0,0.2);